.icon-arrow-blue {
  background-image: url(../../img/sprite.png);
  background-position: -61px -44px;
  width: 13px;
  height: 14px; }

.icon-arrow-right {
  background-image: url(../../img/sprite.png);
  background-position: 0px 0px;
  width: 35px;
  height: 35px; }

.icon-arrow-white {
  background-image: url(../../img/sprite.png);
  background-position: -81px -60px;
  width: 13px;
  height: 14px; }

.icon-arrows {
  background-image: url(../../img/sprite.png);
  background-position: -35px 0px;
  width: 26px;
  height: 26px; }

.icon-bag-red {
  background-image: url(../../img/sprite.png);
  background-position: -25px -35px;
  width: 25px;
  height: 22px; }

.icon-bag {
  background-image: url(../../img/sprite.png);
  background-position: -81px -32px;
  width: 14px;
  height: 14px; }

.icon-calendar-blue {
  background-image: url(../../img/sprite.png);
  background-position: 0px -79px;
  width: 13px;
  height: 14px; }

.icon-calendar-red {
  background-image: url(../../img/sprite.png);
  background-position: -13px -79px;
  width: 13px;
  height: 14px; }

.icon-calendar-white {
  background-image: url(../../img/sprite.png);
  background-position: -81px -46px;
  width: 13px;
  height: 14px; }

.icon-email-bold {
  background-image: url(../../img/sprite.png);
  background-position: -39px -79px;
  width: 14px;
  height: 11px; }

.icon-email {
  background-image: url(../../img/sprite.png);
  background-position: -81px 0px;
  width: 15px;
  height: 17px; }

.icon-magnifing-glass {
  background-image: url(../../img/sprite.png);
  background-position: -26px -79px;
  width: 13px;
  height: 13px; }

.icon-marker-big {
  background-image: url(../../img/sprite.png);
  background-position: -61px -20px;
  width: 16px;
  height: 24px; }

.icon-marker-small {
  background-image: url(../../img/sprite.png);
  background-position: -96px -12px;
  width: 8px;
  height: 13px; }

.icon-persona {
  background-image: url(../../img/sprite.png);
  background-position: -96px 0px;
  width: 10px;
  height: 12px; }

.icon-phone-big {
  background-image: url(../../img/sprite.png);
  background-position: 0px -35px;
  width: 25px;
  height: 25px; }

.icon-phone-bold {
  background-image: url(../../img/sprite.png);
  background-position: -50px -35px;
  width: 11px;
  height: 11px; }

.icon-phone-normal {
  background-image: url(../../img/sprite.png);
  background-position: 0px -60px;
  width: 19px;
  height: 19px; }

.icon-phone-small {
  background-image: url(../../img/sprite.png);
  background-position: -19px -60px;
  width: 19px;
  height: 19px; }

.icon-plane-blue {
  background-image: url(../../img/sprite.png);
  background-position: -81px -17px;
  width: 15px;
  height: 15px; }

.icon-plane-white {
  background-image: url(../../img/sprite.png);
  background-position: -61px 0px;
  width: 20px;
  height: 20px; }

.icon-radio-checked {
  background-image: url(../../img/sprite.png);
  background-position: -56px -60px;
  width: 18px;
  height: 18px; }

.icon-radio-default {
  background-image: url(../../img/sprite.png);
  background-position: -38px -60px;
  width: 18px;
  height: 18px; }

.icon-time {
  background-image: url(../../img/sprite.png);
  background-position: -53px -79px;
  width: 12px;
  height: 11px; }
